section.hero
  .container
    h1.hero_title S
      span ublime
      p.hero_description Sublime: A one page responsive wordpress
      p.hero_description themesuitable for any kind of business representation.
      h2.hero_title_h2 Downowlad the psd
    .hero_header
      h3.hero_title.hero_title_header We
        span  create
        p.hero_description.hero_description_awesome Awesome Games
      nav.nav
        - var items=['About', 'Development', 'Rrojects', 'Blog']
      each item in items
        a.nav_link(href="#")= item



