.description_about{
    width: 100%;
    display: flex;
    &_title{
        width: 45%;
        padding: 75px 0 0 145px;
        .title_about{
            font-size: 36px;
            letter-spacing: 1px;
            color: #717171;
            font-weight: 600;
            padding: 0;
            margin: 0;
            span{
                font-size: 26px;
            }
            &_bottom{
                color: #ffc600;
                font-size: 70px;
                letter-spacing: 1px;
                font-weight: 100;
                padding: 0;
                margin: 0;
                span{
                    color: black;
                }
            }
            
        }
        .after_title {
            background-color: #717171;
            display: block;
            width: 135px;
            height: 2px;
            margin-left: 117px;
            
        }
    }
    &_text{
        width: 55%;
    }
    &_text{
        padding: 40px 0;
        position: relative;
        .italic{
            font-size: 16px;
            font-style: italic;
            font-weight: 200;
            color: darken($color: #949494, $amount: 30);
        }
        .description_about_text_bottom{
            color: #949494;
            font-size: 14px;
            line-height: 20px;
            font-weight: 200;
        }
        .riska{
            position: absolute;
            height: 50%;
            width: 2px;
            background-color: #949494;
            left: -20px;
            margin-top: 5%;

        }
    }

}