body {
  font-family: $ff-maried;
  font-size: 1rem;
  line-height: 1.2;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

ul,
ol {
  list-style-type: none;
}

.clearfix {

  &:after {
    content: '';
    display: table;
    clear: both;
  }
}
.container{
  width: 1200px;
  margin: auto;
}
.after_title {
  background-color: #717171;
  display: block;
  width: 135px;
  height: 2px;
  margin-left: 117px;
  
}
.global{
  max-width: 25%;
  display: flex;
  &_title{
    font-size: 52px;
    color: #ffc600;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 0;
    margin: 0;
    padding-right: 15px;
    span{
      font-size: 35px;
      color: #000000;
      font-weight: 300;
      letter-spacing: 0px;
    }
    &_two{
      color: darken($color: #000000, $amount: 20);
    }
  }
}